@charset "utf-8";

.section-box{
  padding-top: 2rem;
}

.spot-container {
  text-align: left;
}

.spot-name {
  margin-bottom: 30px;
  text-align: center;
}

.spot-hero-image {
  width: 100%;
  min-height: 380px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.spot-content-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.spot-content-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.spot-content-body h3:not(:first-child) {
  margin-top: 50px;
}

.spot-content-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: var(--color-primary-medium);
}

.spot-content-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.spot-content-body h4 {
  padding: 1rem 0 0.5rem;
}


.home-link {
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .spot-hero-image {
    min-height: 320px;
  }
}